.driverContent{   
    background-color: rgb(234, 229, 223);

}

.contentWrapper{       
    margin: 0 auto; 
    width: 1500px;
    max-width: 80%;    
        
}

.driverSideBar{
    margin-top: 20px;
    background-color: rgb(214, 212, 212);
    width: 7%;    
    border-radius: 21px;   
}

.driverCode{
    margin-left: 10px;
      
}

.driverCode h1{
    font-size: 18px;
    
    color:white;
}

.driverSideBarWrapper{
    padding: 5px 0px;
    
}